<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Hello, Favorite Novels HTML.</h1>
		<p></p>
     <form action="/name" method="post">
      <label>Title :</label>
      <input type="text" name="novelTitle" value=""><br>
      <label>Author First Name :</label>
      <input type="text" name="first" value=""><br>
      <label>Author Last Name :</label>
      <input type="text" name="last" value=""><br><br>
      <!-- <label>Year of Publication :</label>
      <input type="number" name="year" value="1984"><br> -->
      <label>Synopsis :</label>
      <input type="text" name="synopsis" value=" "><br>

      <!-- <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br><br> -->
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>