<h1>Novel Details</h1>

<ul class="novel_list">
  {{#each data}}
    <li>{{novelTitle}}</li>
    <p>By {{novelAuthorFirstName}} {{novelAuthorLastName}}</p>
    <p>Novel ID: {{novelId}}</p>
  {{/each}}
</ul>

